body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;

}
button{ //전체 button에 라인 없애기
  border: none;
}

.red{ background-color: red }
.red .slick-slide{ color:white}
.gray{ background-color: gray }
.orange{ background-color: orange }
.yellow{ background-color: yellow }
.bg-gray{ }

/* common Class */
.mobile{

}
.s_only{ //화면에는 안보이지만 들리게 하는 class
  position: absolute;
  text-indent: -99999px; //글자를 밀어버리는 역할
  display: inline-block !important; //text-indent와 상호작용
  width: 0; height: 0; padding: 0;
  overflow: hidden; left: -99999px;
}
#store{
  padding: 30px;
  background: #ccc;
  #carinfo1{
    font-size: 0;
    line-height: 0;

    input[type='radio']{
      display: none;
    }

    label{
      display: inline-block;
      padding: 0 10px;
      border: 1px solid #ccc;
      line-height: 2;
      font-size: 2rem;
      margin-left: -1px;
      cursor: pointer;
    }

    input:checked + label,
    label.on{
      background: red;
      color: white;
    }
  }
}




.wrap{


  header#hd{
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 10%;
    display: flex; //정렬
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    h1{
      a{
        width: 182px;
        height: 23px;
        display: block;
        background: url(//shinsegae-inc.com/images/common/logo_sinc.png) no-repeat 0 0;
        background-size: 100% 100% !important;
      }
    }
    @media (max-width: 990px){
      #allMenu{
        display: block;
      }
    }

    #gnbWrap{
      min-width: 600px;
      ul{
        display: flex; //정렬
        flex-direction: row;
        justify-content: space-evenly;
        li{
          a{

          }
        }
      }
    }
    .utilMenu{
      .sBtn{
        width: 32px;
        height: 32px;
        background: url(//shinsegae-inc.com/images/common/ico_search.png) no-repeat 0 0;
        background-size: 100% auto !important;
      }
    }
  }
  main{
    //padding: 5rem;
    > *{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
    }
    #slide{
      transition: 0.8s;
      .iframeSize{
        position: relative;
        height: 0;
        //width: 100%;
        padding-bottom: 54%;
        iframe{ //youtube 사이즈와 위치 조정
          position: absolute;
          left: 0; top: 0;
        }
      }
    }
    #diagram{
      [data-num]{ //속성으로 data-num를 가지고 있는 객체 적용
        p{ // data-num의 p 태그에 적용
          width: 0;
          font: 0/0 all; // -> font-size/line-height 적용범위
          height: 3px;
          position: relative;
          strong{
            font-size: 0.8rem;
            position: absolute;
            right: 0;
            margin-right: -20px;
            background: black;
            border: 2px solid red;
            color: white;
            
            // line-height: 1rem;
            // padding: 10px;
            // border-radius: 40px;
            line-height: 40px;
            width: 40px; height: 40px;
            text-align: center;
            border-radius: 40px;

            display: block;
            bottom: 10px;
            &:after{
              content: "";
              display: block;
              width: 15px; height: 15px;
              border: 4px;
              transform-origin: center;
              transform: rotate(-45deg) translateX(-67%) translateY(0px);
              border-width: 0 0 1px 1px;
              border-color: red;
              border-style: solid;
              background: black;
              position: absolute;
              left: 50%;
              bottom: 2px;

            }
          }
        }
      }
      // .bar div p{
      //   display: inline-block;
      //   position: absolute;
      // }
    }
    #form{

    }
  }
  footer#fd{
    padding: 10%;
  }


}
